            /* Header */

/* title */
.header__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    background-color: lightcyan;
}


/* title buttons */
.header__title__buttons {
    display: flex;
    justify-content: space-around;
}


            /* Body */
.horizontalLayout {
   border: 1px solid black;
}

            /* Footer */


/* Buttons */

.footer__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}